/*--------------------------------------------------------------
# gallery travel
--------------------------------------------------------------*/

body {
  font-family: "Raleway", sans-serif;
  background-color: #040404;
  color: #fff;
  position: relative;
  background: transparent;
}

a {
  color: #18d26e;
  text-decoration: none;
}

body::before {
  content: "";
  position: fixed;
  background: #040404 url("../img/home.jpg") top right no-repeat;
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: -1;
}

@media (min-width: 1024px) {
  body::before {
    background-attachment: fixed;
  }
}

.section {
  padding: 50px;
  display: block;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1040px;
  }
}

h2 {
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #fff;
}

.box-container {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-top: 1.4em;
  width: 100%;
}

.box {
  list-style-type: none;
  float: left;
  opacity: 0;
  transform: translate3d(0, 40px, 0);
  transition: opacity 0.2s, transform 0.35s;
}

.box.show {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: opacity 0.4s, transform 0.35s;
}

.box .inner {
  padding: 10px;
  position: relative;
}

.box a {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}

.box img {
  width: calc(100% + 50px);
  max-width: calc(100% + 50px);
  transition: opacity 0.35s, transform 0.35s;
  transform: translate3d(-40px, 0, 0);
}

.box a::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(#1b1b1b, #1cd61c);
  z-index: 99;
  opacity: 0;
  transition: opacity 0.2s;
}

@media (min-width: 390px) {
  .three-cols .box {
    width: 50%;
  }
}

@media (min-width: 700px) {
  .three-cols .box {
    width: 33.3%;
  }

  .three-cols .box:nth-child(3n + 0) {
    margin-right: 0;
  }

  .three-cols .box:nth-child(3n + 1) {
    margin-left: 0;
  }

  .mcbutton {
    width: auto;
  }
}

@media (min-width: 992px) {
  .box:hover img {
    transform: translate3d(0, 0, 0);
    transition: opacity 0.35s, transform 0.35s;
  }

  .box:hover a::before {
    opacity: 0.3;
    transition: opacity 0.5s;
  }
}

.section .gallery-info {
  padding-top: 45px;
}

.section .gallery-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
}

.section .gallery-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.section .gallery-info ul li + li {
  margin-top: 10px;
}

.section .gallery-info p {
  font-size: 15px;
  padding: 15px 0 0 0;
}

@media (max-width: 992px) {
  .section .gallery-info {
    padding-top: 20px;
  }
}

/*--------------------------------------------------------------
# Credits
--------------------------------------------------------------*/

.credits {
  position: fixed;
  right: 32px;
  left: 0;
  bottom: 0;
  padding: 20px;
  text-align: right;
  font-size: 13px;
  color: #fff;
  z-index: 999999;
}

@media (max-width: 992px) {
  .credits {
    text-align: center;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
  }
}

.credits a {
  color: #18d26e;
  transition: 0.3s;
}

.credits a:hover {
  color: #fff;
}
